<header class="header">
    <div class="header__main">
        <div class="logo">
            <h1 class="logo__type"><a href="/">Chris Taylor Makes</a></h1>
            <!-- <p class="logo__sub">User-centred design leader, designer and illustrator</p> -->
        </div>
    </div>
    <nav class="header__nav">
        <ul class="nav nav--h">
    
            {% for item in site.data.navigation %}
                <li><a href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
            {% endfor %}
            
        </ul>
    </nav>
  </header>