---
# This is the Front Matter block
---
/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* 
    VARIABLES

*/

$col-theme-accent: #003554;
$col-theme-contrast: #D9DBF1;

$col-site-bg: $col-theme-accent;
$col-font-base: $col-theme-contrast;
$col-font-heading: #fff;
$col-link: #FC6471;

$fontstyle-hand: "Reenie Beanie", cursive;
$fontstyle-base: "Quattrocento", serif;

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  //  background:  linear-gradient(165deg, $col-site-bg 0%, rgba(164,80,139,1) 100%);
    background: url('/assets/images/bg-paper-blue.jpg') repeat left top $col-site-bg;  
    color: $col-font-base;
    font-size: 16px;
    font-family: $fontstyle-base ;
}


::-moz-selection {
    background: $col-font-base;
    text-shadow: none;
    color: $col-site-bg;
}

::selection {
    background-color: $col-font-base;
    text-shadow: none;
    color: $col-site-bg;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $col-theme-contrast;
    margin: 1em 0;
    padding: 0;
}


audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
 
  margin: 0;
  line-height: 1.65;
  font-weight: false
}

h1, h2, h3, h4, h5, h6 {
    font-optical-sizing: auto;
    color: $col-font-heading;
    font-weight: normal;
  line-height: 1.15;
}

h1 { font-weight: 400;
    margin-top: 0;
    font-size: 2.44em;;}
h2 { font-size: 1.85em; }
h3 { font-size: 1.56em; }

h4,
.text-size-h4 { font-size: 1.25em; }

h5,
.text-size-h5 { font-size: 1.1em; }

.text-caption { font-size: 0.8em; }

small,
.text-small {
  font-size: 0.64em;
}

p, li, form {
  font-size: 1em;

}

blockquote {
    background-color: rgba(255,255,255,0.1);
    margin-left: 0;
    padding: 1.75em;
    border-left: 1em solid #D9DBF1;
    font-style: italic;
}

blockquote p {
    margin: 0;
    padding: 0;
}

a { color: $col-link; font-weight: bold;}
a:hover { text-decoration: none}
a:active { }
a:visited { }

.hr--footer {
    border-top: 1em solid $col-link;
}

.lede {
    font-size: 1.95em;
    
    font-weight: bolder;
    margin: 0.5em 0;
}

.js .lede {
    color: $col-site-bg;
}

// .no-js .highlight {
// background-color: #FC6471;
// padding: 5px;
// }

.highlight {
    color: $col-theme-accent;
    display: inline-block;
}

.header {
  margin-bottom: 1em;
  font-weight: 400;
  position: relative;
  z-index: 100;
  padding: 2em 1em;
  text-align: center;
 // border-bottom: 1px solid lighten($col-site-bg, 50%);
 border: 4px solid #D0CDD7;
 border-radius: 255px 15px 255px 15px / 15px 255px 15px 255px;
//https://dev.to/thormeier/hand-drawn-border-animation-using-clip-path-and-border-radius-36ln
}

.header:before {
//   border-left: 1em solid #ffde84;
//   background-color: #32357c;
//   border-right: 1em solid #ff4a74;
//   content: "";
//   position: absolute;
//   width: 1em;
//   height: 1em;
//   top: 0;
//   left: 0;
//   z-index: 10;
}

.logo {
   position: relative;
   z-index: 100;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-weight: normal;
}

.logo a:hover {
    text-decoration: underline;
}

// .logo:after {
//     content: "";
//     background: url('data:image/svg+xml,<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"><path fill="%235D1560" d="M59.7,-19.2C69.5,10.6,64,45.6,46.1,57.2C28.1,68.8,-2.4,57,-25.4,39.3C-48.4,21.5,-64,-2.2,-58.5,-26.1C-53,-50,-26.5,-74.1,-0.8,-73.8C25,-73.6,50,-49,59.7,-19.2Z" transform="translate(100 100)" /></svg>') no-repeat left top;
//     height: 500px;
//     width: 500px;
//     position: absolute;
//     top: -150%;
//     left: -50%;
//     z-index: -1;
// }

.logo__type {
    position: relative;
    //text-transform: uppercase;
    margin: 0;
    z-index: 200;
    font-family: "Reenie Beanie", cursive;
    font-weight: normal;
    font-size: 4.052em;
}

.logo__sub {
    font-family: "Reenie Beanie", cursive;
    font-size: 4.052em; 
    margin: 0;
    position: relative;
    z-index: 200;
}

.nav {
    margin: 0;
    padding: 0;
}
.header__nav .nav li {
    font-family: "Reenie Beanie", cursive;
    display: inline-block;
    margin-right: 0.5em;
    font-size: 3em; 
    margin-bottom: 0;    
}

.header__nav .nav li:last-of-type {
    margin-right: 0;
}

.nav li:after  {
    content: "+";
    margin-left: 0.5em;
} 

.nav li:last-of-type:after {
    content: "";
}

.nav li a {
    font-weight: normal;
}

.title {
  color: #fff;
  font-size: 4.052em;
  margin: 0 0 0.15em 0;
  line-height: 1.05;
  font-weight: 900;
 // text-transform: uppercase;
//  letter-spacing: 0.08em;

}

.main {
    padding: 1em;
}

@media screen and (min-width:700px) {
  html {
    font-size: 20px;
  }
  .main {
    width: 80%;
    margin: 1em auto 0;
    max-width: 800px;
  }

  ul, ol {
    padding: 0;
    margin: 0;
    }

  .header {
    //   text-align: left;
    //   display: flex;
      align-items: baseline;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: nowrap;
  }

   
}

.article-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.article-list__title {
    font-size: 1.95em;
    margin: 0.5em 0 0.5em;
}

.layout-post .main img {
    max-width: 100%;
}

.article-list__item {
    border-bottom: 1px dashed #fff;
}

.meta {
    font-size: 0.8em;
    margin-bottom: 0.25em;
}

// styling the post articles to be a little more readable

ul, ol {
    list-style-position: outside;
    padding: 0 0 0 0.5em;
    margin: 0;

    li {
        margin-bottom: 1em;
        list-style-position: outside;
    }
}

//portfolio image grid
   
.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 0;
    list-style: none;
    margin: 0;
  }
  
  .image-grid__item {
    position: relative;
    overflow: hidden;
    //border-radius: 8px;
    transition: outline 0.3s ease-in-out, transform 0.2s ease-in-out;
    outline: 5px solid transparent;
  
    &:hover {
      transform: scale(1.01);
      animation: fadeOutline 0.3s forwards;
    
    }

    @keyframes fadeOutline {
        from {
          outline-color: transparent;
        }
        to {
          outline-color: rgba(252, 100, 113, 0.8); // Dark outline
        }
      }
  
    a {
      display: block;
      text-decoration: none;
      color: inherit;
    }
  
    img {
      width: 100%;
      height: auto;
      display: block;
      //border-radius: 8px;
    }
  
    .image-grid__title {
      position: absolute;
      bottom: 10px;
      left: 10px;
      background: rgba(0, 0, 0, 0.6);
      color: #fff;
      padding: 0.75em;
      font-size: 0.75em;
    //   border-radius: 4px;
      transition: background 0.2s ease-in-out;
  
      &:hover {
        background: rgba(0, 0, 0, 0.8);
        
      }
    }
  }
  
/*==================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
